.env.local
.env.*.local
.env.development
.env.test
Dockerfile
.gitignore

.byebug_history
**/.DS_Store
.vscode/*
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea

/coverage
/data
/.git
/.github
/log
/tmp
