/data/*.db
/data/redis/*.rdb
/data/redis/*.aof
/tmp
.env.local
.env.*.local
**/.DS_Store
.vscode/*
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.idea

/coverage
/spec/examples.txt
/docs/yard
.yardoc
node_modules
